<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Benvindo aos Classificados com Web API</h1>
            </hgroup>
            <p>
                A melhor forma de prover serviços para qualquer plataforma e aplicação.
                Aqui você encontrará uma série de serviços disponíveis sobre classificados, todos
                baseados em HTTP.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Quais os serviços disponíveis?</h3>
        <ol class="round">
            <li class="one">
                <h5>Anunciantes</h5>
                Aqui você pode fazer o CRUD completo sobre os anunciantes.
                Vale dizer que isto é apenas para efeito de treinamento.
            </li>

            <li class="two">
                <h5>Categorias</h5>
                Aqui você pode fazer o CRUD completo sobre as categorias. 
                Vale dizer que isto é apenas para efeito de treinamento.
            </li>
            <li class="three">
                <h5>Anúncios</h5>
                Aqui você pode disfrutar do CRUD sobre os anúncios. Existem serviços de pesquisa por 
                anúncio, por categoria, por anunciante e por parte do título/descrição do anúncio.
                Consulte o @Html.ActionLink("help API", "Index", "Help", new { area = "" }, null) para mais detalhes. Vale dizer que isto é apenas para efeito de treinamento.
            </li>
        </ol>
    </section>
</div>
