@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!--teste-->
<head>
    <TITLE>ASDFADS</TITLE>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/backbone.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script type="text/javascript">
        var App = {
            Models: {},
            Collections: {},
            Views: {},
            start: function () {
                App.router = new App.Router();
                Backbone.history.start();
            }
        }

        //Definindo o modelo
        App.Models.Anunciante = Backbone.Model.extend({});
       
     
        //definindo a View
        App.Views.Anunciante = Backbone.View.extend({
            tagName: "li",
            template: _.template("<%=Nome%>" +
                "-<a href='mailto:<%=Email%>'><%=Email%></a>-" +
                "</span class='telefone'><%=Telefone%></span>"),
            render: function () {
                this.$el.html(this.template(this.model.toJSON()));
                return this.$el;
            }
        });
        //instanciando a view
        App.Views.anunciante = new App.Views.Anunciante({
            model: App.Models.anunciante
        })


        //criando a coleção
        App.Collections.Anunciantes = Backbone.Collection.extend({
            url: "/api/anunciante",
            model: App.Models.Anunciante,
            comparator: function (anunciante1, anunciante2) {
                var nomeAnunciante1 = anunciante1.get("Telefone").toLowerCase();
                var nomeAnunciante2 = anunciante2.get("Telefone").toLowerCase();
                return nomeAnunciante1 < nomeAnunciante2;

            }
        });
        

        //criando a view da collection

        App.Views.Anunciantes = Backbone.View.extend({
            initialize: function () {
                this.listenTo(this.collection, "add", this.adicionAnunciante, this);
                this.listenTo(this.collection, "reset", this.render, this);
                 this.listenTo(this.collection, "sort", this.render, this);
            },
            addAnunciante: function (anunciante) {
                anuncianteView = new App.Views.Anunciante({ model: anunciante });
                this.$el.append(anuncianteView.render());
            },//render collection
            render: function (data) {
                if (data) {
                    this.collection = data;
                }
                this.$el.empty();
                this.collection.forEach(this.addAnunciante, this);
                return this.$el;
            }
        });

        //form view
        App.Views.FormAnunciante = Backbone.View.extend({
            Template: _.template('<form> <fieldset><legend>Cadastro de novo Anunciante</legend>' +
                '<label for="Nome">Nome:</label><input type="text"  id="Nome" name=Nome value="" />' +
                '<label for="Email">Email:</label><input type="text" id=Email name=Email value="" />' +
                '<label for="Telefone">Telefone:</label><input type="text"  id=Telefone  name=Telefone value="" /><br />' +
                '<button type="submit" class="btn">Submit</button></fieldset></form>'),
            events: {
                submit: "insereAnunciante"
            },
            insereAnunciante: function (e) {
                e.preventDefault();
                var Nome = this.$("#Nome").val();
                var Email = this.$("#Email").val();
                var Telefone = this.$("#Telefone").val();
                this.collection.create({ Nome: Nome, Email: Email, Telefone: Telefone,Anuncios:[] });
                $("input").val('');
            },
            render: function () {
                this.$el.html(this.Template());
                return this.$el;
            },
            exibir: function () {
                $("#form").show();
            },
            esconder: function () {
                $("#form").hide();
            }
        });
        App.Router = Backbone.Router.extend({
            routes: {
                "": "index",
                "cadastro": "cadastro",
                "temanuncio": "temAnuncio",
                "sortBy/:field": "sortBy",
                "todos":"todos"
            },
            initialize: function () {
                App.Collections.anunciantes = new App.Collections.Anunciantes();
                App.Views.anunciantes = new App.Views.Anunciantes({ el: "#anunciantes", collection: App.Collections.anunciantes });
                App.Collections.anunciantes.fetch();
                App.Views.formAnunciante = new App.Views.FormAnunciante({ el: "#form", collection: App.Collections.anunciantes });
                App.Views.formAnunciante.render();
            },
            todos: function (todos) {
                this.sortBy("Nome");
                App.Views.formAnunciante.esconder();
            },
            sortBy: function (field) {
                App.Collections.anunciantes.comparator = function (model) {
                    return model.get(field);
                }
                App.Collections.anunciantes.sort();
            },
            temAnuncio: function () {
                var anunciantesQueTemAnuncio = App.Collections.anunciantes.filter(
                    function (x) {
                        if (x.get("Anuncios").length > 0)
                            return x;
                    });
                App.Views.anunciantes.render(anunciantesQueTemAnuncio);

            },
            cadastro: function () {
                
                App.Views.formAnunciante.exibir();
                
            },
            index: function () {
                console.log('index');
        
                
            }
        });
        //renderizando a view
        $(function () {
            App.start();
        });
    </script>
</head>
<body>
    <!--Html Inicial-->
    <div class="row-fluid">
        <div class="span12">
            <!--menu-->
            <nav class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/anunciospa">MVP Conference</a>
                    <ul class="nav">
                        <li><a href="#todos">Todos</a></li>
                        <li><a href="#temanuncio">Quem tem Anuncio</a></li>
                        <li><a href="#sortBy/Nome">Ordenar por Nome</a></li>
                        <li><a href="#sortBy/Telefone">Ordenar por Telefone</a></li>
                        <li><a href="#sortBy/Email">Ordenar por Email</a></li>
                        <li><a href="#cadastro">Cadastro</a></li>

                    </ul>
                </div>
            </nav>
            <!--Table-->
            <div id="divanunciantes" class="span6">
                <ul id="anunciantes">
                    </ul>
            </div>
            <div id="form" class="span5"></div>

        </div>

    </div>


</body>
</html>
