@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script type="text/javascript">
        var App = {
            Models: {},
            Collections: {},
            Views: {},
            start: function () {
                App.Collections.anunciantes = new App.Collections.Anunciantes();
              
                App.Views.anunciantes = new App.Views.Anunciantes({el:"#anunciantes", collection: App.Collections.anunciantes });
                
                App.Collections.anunciantes.fetch();
                App.Views.formAnunciante = new App.Views.FormAnunciante({ el: "#form", collection: App.Collections.anunciantes });
                App.Views.formAnunciante.render();
            }
        }




        App.Models.Anunciante = Backbone.Model.extend({ idAttribute: 'IdAnunciante' });

        App.Collections.Anunciantes = Backbone.Collection.extend({
            model: App.Models.Anunciante,
            url: '/api/anunciante'
            
        });


        //View Anunciante
        App.Views.Anunciante = Backbone.View.extend({
            initialize:function(){
                this.listenTo(this.model, "change", this.render, this);
            },
            tagName: "li",
            className: "anunciante",
            template: _.template("<strong><%=Nome%></strong><a href='mailto:<%=Email%>'><%=Email%></a><span class='telefone'><%=Telefone%></span>"),
            render: function () {
                this.$el.html(this.template(this.model.toJSON()));
                return this.$el;
            }
        });
        //View coleção de Anunciante
        App.Views.Anunciantes = Backbone.View.extend({
            
            initialize: function () {
                this.listenTo(this.collection, "add", this.adicionAnunciante, this);
                this.listenTo(this.collection, "reset", this.render, this);
                //this.listenTo(this.collection, "sort", this.render, this);
            },
            tagName: "ul",
            className: "anunciantes",
            
            adicionAnunciante: function (anunciante) {
                anuncianteView = new App.Views.Anunciante({ model: anunciante });
                this.$el.append(anuncianteView.render());
            },
         
            
            adicionaTodos: function (data)
            {
                console.log('todos')
                data.forEach(this.adicionAnunciante, this);
            },
            render: function (data) {
                if (data) {
                    this.collection = data;
                }
                this.$el.empty();
                this.adicionaTodos(this.collection);
                return this.$el;
            }
            
        });

        App.Views.FormAnunciante = Backbone.View.extend({
            Template: _.template('<form>' +
                '<label for="Nome">Nome:</label><input id="Nome" name=Nome value="" />' +
                '<label for="Email">Email:</label><input id=Email name=Email value="" />' +
                '<label for="Telefone">Telefone:</label><input id=Telefone  name=Telefone value="" />' +
                '<button>Save</button></form>'),
            events: {
                submit:"insereAnunciante"
            },
            insereAnunciante: function (e) {
                e.preventDefault();
                var Nome = this.$("#Nome").val();
                var Email = this.$("#Email").val();
                var Telefone = this.$("#Telefone").val();
                this.collection.create({ Nome: Nome, Email: Email, Telefone: Telefone });
            },
            render: function () {
                this.$el.html(this.Template());
                return this.$el;
            }
        });


        $(function () {
            App.start();
        })
    </script>
</head>
<body>
    <div id="form"></div>
    <div id="anunciantes">

    </div>
    
</body>
</html>
